<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/Semantic/semantic.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>博客管理登录</title>
</head>
<body>

<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive" style="max-width: 40em !important;">
    <div class="ui middle aligned center container">
        <div class="column center">
            <h2 class="ui teal middle aligned center header">

                <div class="content ui center">
                    管理后台登录
                </div>
            </h2>
            <form class="ui large form" method="post" action="/admin/login">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="用户名">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="密码">
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button">登   录</button>
                </div>

                <div class="ui error message"></div>
                <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                    用户名或密码错误
                </div>

            </form>


        </div>
    </div>
</div>


<script src="../../static/js/jquery-3.1.1.min.js"></script>
<script src="../../static/Semantic/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on:'click'
    })

    $('.ui.form').form({
        fields:{
            username:{
                indentifier:'username',
                rules:[{
                    type:'empty',
                    prompt:'请输入用户名'
                }]
            },
            password:{
                indentifier:'password',
                rules:[{
                    type:'empty',
                    prompt:'请输入密码'
                }]
            }

        }
    });

</script>
</body>
</html>